.card {
	text-align: center;
	grid-column: span 3;
  	@media screen and (max-width: 1024px){
	  grid-column: span 1;
  }
}

.card__image {
	display: flex;
	justify-content: center;
}
.card__content {
	margin-bottom: 0;
}
.card__title {
	margin: 1rem 0 .5rem;
}