.card {
	display: flex;
	flex-flow: column;

	grid-column: span 3;
}
.card__image {
	margin-bottom: 1rem;
}
.card__content {
	margin-bottom: .5rem;
}
.card__content_label {

}
.card__title {
	margin:0;
	order: 1;
}