:root {
  --color-primary: #44738E;
  --color-border: rgba(68, 115, 142, 0.39);
  --color-text: #000;
  --color-gray: #A6A6A7;
  --color-gray-light: #F1F1F1;
}
$color-primary: #44738E;
$color-border: rgba(68, 115, 142, 0.39);
$color-text: #000;
$color-gray: #A6A6A7;
$color-gray-light: #F1F1F1;